<div class="row">
  <div class="col-sm-12">
    <div class="card" style="height: 22mm;">
      <div class="card-block">
        <div class="row">

          <div class="col-sm-12">

            <div class="form-group row">

<!--              <div class="input-group col-sm-4" style="margin-bottom: 0;">-->
<!--                <label class="col-form-label">Date :</label>-->
<!--                <input type="text" class="form-control" placeholder="Date"-->
<!--                       value="{{return.issued_date}}" readonly>-->
<!--              </div>-->
              <div class="input-group col-sm-8" style="margin-bottom: 0;"></div>
              <div class="input-group col-sm-4" style="margin-bottom: 0;">
                <label class="col-form-label">RET. No :</label>
                <input type="text" class="form-control" placeholder="INV no"
                       value="{{return.id}}" readonly>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" style="text-align: center; margin-top: -6mm;"
       *ngIf="!((currentReturn == returns.length - 1) && (getValidProducts().length == 0))">
    <h3 [className]="statusInfo[return.status].Style">
      {{statusInfo[return.status].Status}}
    </h3>
  </div>

  <div class="col-sm-12" style="text-align: center; margin-top: -6mm;"
       *ngIf="(currentReturn == returns.length - 1) && (getValidProducts().length == 0)">
    <h3 [className]="statusInfo['new'].Style">
      {{statusInfo['new'].Status}}
    </h3>
  </div>

  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="card trnasiction-card">
      <div class="card-block text-center">

        <table class="table table-xs table-framed">
          <thead>
          <tr>
            <th>#</th>
            <th>Code</th>
            <th>Product</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: right">Price</th>
            <th style="text-align: right">Amount</th>
            <th style="text-align: center" *ngIf="return.status == '3'">Remove</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of getValidProducts();  index as i">
            <td scope="row">{{i + 1}}</td>
            <td>{{product.stock_id}}</td>
            <td>{{product.product_description}}</td>
            <td style="text-align: center">{{product.qty}}</td>
            <td style="text-align: right">{{product.selling_price | currency:"Rs. "}}</td>
            <td style="text-align: right">{{product.amount | currency:"Rs. "}}</td>
            <td align="center" *ngIf="return.status == '3'">
              <a href="javascript:void(0)" (click)="removeProductFromReturn(i)">
                 <span class="table-add mb-3 mr-2"> <i style="color: red"
                                                       class="icofont icofont-ui-delete" aria-hidden="true"></i> </span>
              </a>

            </td>
          </tr>

          <tr *ngIf="return.status == '3'">
            <td scope="row">{{getValidProducts().length + 1}}</td>
            <td>
              <!--              <input [(ngModel)]="productCode" (keydown.enter)="productCodeEntered()" type="text">-->
              <input type="text" class="form-control" (keydown.enter)="productEntered()"
                     [(ngModel)]="productCode"
                     [ngbTypeahead]="searchProducts" ngbTooltip="Type # to search product"/>
            </td>
            <td>
              <!--              <select id="selectInvoiceProduct"></select>-->
            </td>
            <td style="text-align: center"></td>
            <td style="text-align: right"></td>
            <td style="text-align: right"></td>
            <td align="center"></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right">
              <b>Total:</b>
            </td>
            <td style="text-align: right">
              {{return.total | currency:"Rs. "}}
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="b-t-default transection-footer row">
        <div class="col-6" *ngIf="!(return.status == '1' || return.status == '3')"></div>
        <button class="col-6 btn btn-danger"
                *ngIf="(return.status == '1' || return.status == '3') && returnProducts.length"
                (click)="cancleReturn()">Cancle
        </button>
        <button class="col-6 btn btn-success"
                *ngIf="return.status == '3' && getValidProducts().length"
                (click)="clickDone()">
          Issue Ticket
        </button>
        <div class="col-6" *ngIf="!(return.status == '3')" (click)="clickDone()"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card" style="height: 22mm;">
      <div class="card-block ">
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-warning" (click)="clickInvoice()"><i class="icofont icofont-arrow-up"></i>Invoice
              (F2)
            </button>
          </div>
          <div class="input-group center col-sm-4">
            <!--          <span (click)="gotoFirstInvoice()" class="input-group-addon"><i>First</i></span>-->
            <span (click)="gotoPreviousReturn()" class="input-group-addon"><i
              class="icofont icofont-rounded-left"></i></span>
            <input type="text" class="form-control form-control-center"
                   value="{{ (currentReturn + 1) + ' of ' + returns.length }}" disabled>
            <span (click)="gotoNextReturn()" class="input-group-addon"><i
              class="icofont icofont-rounded-right"></i></span>
            <span (click)="gotoLatestReturn()" class="input-group-addon"><i>Latest</i></span>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-success pull-right" (click)="clickNewReturn()"><i class="icofont icofont-page"></i>New
              (F4)
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
