<style>
  /* .btn {
    padding: 4px 20px;
  }

  .btn_column {
    width: 6%
  } */
</style>
<div class="">
  <!--Removed pcoded-content class -->
  <div class="">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="">
        <!-- Page-header start -->
        <div class="card">
          <div class="card-block">
            <!--             <h5 class="m-b-10">Supplier Management </h5>
                    </div>
                  </div> -->
            <!-- Page-header end -->

            <!-- Page body start -->
            <div class="page-body">

              <div class="row">
                <div class="col-sm-2">
                  <div class="input-group input-group-sm">
                    <input type="text" (keyup)="searchData()" [(ngModel)]="dataTableSearch" class="form-control"
                      placeholder="Search product">
                    <span class="input-group-addon" id="basic-addon3"><i class="icofont-search-2"></i></span>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="input-group input-group-sm ">
                    Show &nbsp;
                    <select class="form-control" [(ngModel)]="dataTableLength" (change)="setDatatableLength()">
                      <option value=5>5</option>
                      <option value=10>10</option>
                      <option value=50>50</option>
                      <option value=-1>All</option>
                    </select>
                    &nbsp; entries
                  </div>
                </div>

                <div class="col-sm-8">
                  <div class="pull-right input-group-sm ">
                      <button style="padding: 10px;" class="btn btn-success" (click)="clickNewSupplier()">New &nbsp;&nbsp;&nbsp;<i
                        class="icofont icofont-plus"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="dt-responsive table-responsive">
                      <table id="mytable" class="table table-xs display compact table-striped table-bordered nowrap" style="width: 100%;">
                      <thead>
                        <tr>
                            <th>#</th>
                          <th>ID</th>
                          <th>Name</th> 
                          <th>Phone</th>
                          <th>Address</th>
                          <th>Email</th>
                          <th>Rating</th>
                          <th>Registered Date</th>
                          <td></td>

                        </tr>
                      </thead>
                      <tbody></tbody>
                      <tfoot>
                        <tr>
                            <th>#</th>
                          <th>ID</th>
                          <th>Name</th> 
                          <th>Phone</th>
                          <th>Address</th>
                          <th>Email</th>
                          <th>Rating</th>
                          <th>Registered Date</th>
                          <th></th>

                        </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
            <!-- Page body end -->
          </div>
        </div>
      </div>
    </div>

  
    <!-- Main-body end -->
    <!-- Modal -->
    <div id="new_supplier" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" *ngIf="showNew=='yes'">New Supplier</h4>
            <h4 class="modal-title" *ngIf="showNew=='no'">Update Supplier</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body">
            <div class="card-block">
              <div class="">
                <form action="#" method="post" class="j-pro" id="j-pro" novalidate>
                  <div class="j-content">
                    <!-- start name -->
                    <div>
                      <label class="j-label">Name</label>
                      <div class="j-unit">
                        <div class="j-input">
                          <label class="j-icon-right" for="name">
                            <i class="icofont icofont-ui-user"></i>
                          </label>
                          <input type="text" id="name" name="name" value="{supplier.rating}"  [ngModelOptions]="{standalone: true}" [(ngModel)]="supplier.name">
                        </div>
                      </div>
                    </div>
                    <div>
                      <label class="j-label">Mobile</label>
                      <div class="j-unit">
                        <div class="j-input">
                          <label class="j-icon-right" for="name">
                            <i class="icofont icofont-ui-touch-phone"></i>
                          </label>
                          <input type="text"  maxlength="10" id="contactno1" name="contactno1" [ngModelOptions]="{standalone: true}" [(ngModel)]="supplier.contactNo1">
                        </div>
                      </div>
                    </div>
                    <div>
                      <label class="j-label">Office</label>
                      <div class="j-unit">
                        <div class="j-input">
                          <label class="j-icon-right" for="name">
                            <i class="icofont icofont-ui-dial-phone"></i>
                          </label>
                          <input type="text" maxlength="10" id="contactno2" name="contactno2"  [ngModelOptions]="{standalone: true}" [(ngModel)]="supplier.contactNo2">
                        </div>
                      </div>
                    </div>
                    <div>
                      <label class="j-label">Address</label>
                      <div class="j-unit">
                        <div class="j-input">
                          <label class="j-icon-right" for="name">
                            <i class="icofont icofont-address-book"></i>
                          </label>
                          <input type="text" id="contactno2" name="contactno2" [ngModelOptions]="{standalone: true}" [(ngModel)]="supplier.address">
                        </div>
                      </div>
                    </div>
                    <div>
                      <div>
                        <label class="j-label">Email</label>
                      </div>
                      <div class="j-unit">
                        <div class="j-input">
                          <label class="j-icon-right" for="email">
                            <i class="icofont icofont-envelope"></i>
                          </label>
                          <input type="email" id="email" name="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="supplier.email">
                          
                        </div>
                      </div>
                    </div>
                    <div class="j-response"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" (click)="RegisterSupplier()"
              *ngIf="actionMode=='new'">Register
            </button>
            <button type="submit" class="btn btn-success" (click)="updateSupplier()" *ngIf="actionMode=='edit'">Update
            </button>
            
          </div>
        </div>

      </div>
    </div>
    <div id="styleSelector">

    </div>
  </div>
</div>