<style>
  /* .btn {
    padding: 4px 20px;
  }

  .btn_column {
    width: 6%
  } */
</style>
<div class="">
  <!--Removed pcoded-content class -->
  <div class="">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="">
        <!-- Page-header start -->
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group  row">
                  <label class="col-sm-2 col-form-label" style="text-align: right;">Type</label>
                  <div class="col-sm-4">
                    <div class="input-group" style="margin-bottom: 0;">
                      <input type="text" class="form-control" id="name" name="name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="discount.type">

                    </div>
                  </div>
                  <label class="col-sm-2 col-form-label" style="text-align: right;">Discount</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="name" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="discount.name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" style="text-align: right;">From</label>
                  <div class="col-sm-4">
                    <input type="date" class="form-control" id="from" name="from" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="discount.from_date">
                  </div>
                  <label class="col-sm-2 col-form-label" style="text-align: right;">To</label>
                  <div class="col-sm-4">
                    <input type="date" class="form-control" id="to" name="to" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="discount.to_date">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label" style="text-align: right;">Discount Percentage (%)</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="discount_percentage" name="discount_percentage"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="discount.discount_percentage">
                  </div>
                  <label class="col-sm-2 col-form-label" style="text-align: right;">Product</label>
                  <div class="col-sm-4">
                    <div class="input-group input-group">
                      <select (change)="AddRow(product.id)" class="form-control" [(ngModel)]="product.id"
                        [ngModelOptions]="{standalone: true}">

                        <option *ngFor="let product of products; index as i" value="{{ product.sid }}">
                          {{ product.sid }} - {{ product.product_description }}
                        </option>
                      </select>

                    </div>
                  </div>
                </div>

                <!-- <div class="form-group row">


                  <label class="col-sm-2 col-form-label" style="text-align: right;">Notes</label>
                  <div class="col-sm-10">
                    <textarea rows="3" [ngModelOptions]="{standalone: true}" [(ngModel)]="discount.notes" cols="5"
                      class="form-control" placeholder="Notes"></textarea>

                  </div>

                </div> -->
              </div>
              <div class="col-sm-6">
                <table class="table table-xs table-framed">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product</th>
                      <th>Buying Price</th>
                      <th>Selling Price</th>
                      <th>Discounted Price</th>
                      <th>Qty</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="product_table">
                    <tr *ngFor="let product1 of products_all; let id = index">
                      <td scope="row"><input type="hidden" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="products_all[id].id" class="form-control" placeholder="100">{{id+1}}</td>
                      <td>{{product1.product_description}}</td>
                      <td>{{product1.buying_price| currency:" "}}</td>
                      <td>{{product1.selling_price| currency:" "}}</td>
                      <td>{{product1.discounted_price| currency:" "}}</td>
                      <td>{{product1.available_qty}}</td>
                      <td><span (click)="removeRow(id)" class="table-add float-right mb-3 mr-2"> <i style="color: red" class="icofont icofont-ui-delete" aria-hidden="true"></i> </span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" (click)="clearDiscount()">Clear</button>
                   
                  <button type="submit" class="btn btn-success" (click)="RegisterDiscount()"
                  *ngIf="actionMode=='new'">Add Discount
                </button>
                <button type="submit" class="btn btn-success" (click)="UpdateDiscount()"
                *ngIf="actionMode=='edit'">Update Discount
              </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <div class="page-body">

              <div class="row">
                <div class="col-sm-2">
                  <div class="input-group input-group-sm">
                    <input type="text" (keyup)="searchData()" [(ngModel)]="dataTableSearch" class="form-control"
                      placeholder="Search product">
                    <span class="input-group-addon" id="basic-addon3"><i class="icofont-search-2"></i></span>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="input-group input-group-sm ">
                    Show &nbsp;
                    <select class="form-control" [(ngModel)]="dataTableLength" (change)="setDatatableLength()">
                      <option value=5>5</option>
                      <option value=10>10</option>
                      <option value=50>50</option>
                      <option value=-1>All</option>
                    </select>
                    &nbsp; entries
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="dt-responsive table-responsive">
                    <table id="mytable" class="table table-xs display compact table-striped table-bordered nowrap"
                      style="width: 100%;">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>Stauts</th>
                          <th>Type</th>
                          <th>Name</th>
                          <th>Discount</th>
                          <th>From</th>
                          <th>To</th>
                          <th>Added Date</th>
                          <td></td>

                        </tr>
                      </thead>
                      <tbody></tbody>
                      <tfoot>
                        <tr>
                          <th>#</th>
                          <th>ID</th>
                          <th>Status</th>
                          <th>Type</th>
                          <th>Name</th>
                          <th>Discount</th>
                          <th>From</th>
                          <th>To</th>
                          <th>Added Date</th> 
                          <td></td>

                        </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
            <!-- Page body end -->
          </div>
        </div>
      </div>
    </div>

    <div id="styleSelector">

    </div>
  </div>
</div>