<nav class="navbar header-navbar pcoded-header">
  <div class="navbar-wrapper">
    <div class="navbar-logo">
      <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
        <i class="ti-menu"></i>
      </a>
      <div class="mobile-search">
        <div class="header-search">
          <div class="main-search morphsearch-search">
            <div class="input-group">
              <span class="input-group-addon search-close"><i class="ti-close"></i></span>
              <input type="text" class="form-control" placeholder="Enter Keyword">
              <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
            </div>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)">
        <h4 style="padding-top: 3mm; padding-left: 6mm;"> Fec Bank</h4>
      </a>
      <a class="mobile-options">
        <i class="ti-more"></i>
      </a>
    </div>

    <div class="navbar-container container-fluid">
      <ul class="nav-left">
        <li>
          <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
        </li>
        <li class="header-search">
          <div class="main-search morphsearch-search">
            <div class="input-group">
              <span class="input-group-addon search-close"><i class="ti-close"></i></span>
              <input type="text" class="form-control">
              <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
            </div>
          </div>
        </li>
        <li>
          <a href="javascript:void(0)" onclick="javascript:toggleFullScreen()">
            <i class="ti-fullscreen"></i>
          </a>
        </li>
      </ul>
      <ul class="nav-left" >
          <div class="card-header" style="background-color: rgba(0,0,0,0); color: white;border-bottom:none; ">
            <h4 id="mainTitle"></h4>
        </div>
      </ul>

      <ul class="nav-right">
        <li class="header-notification">
          <a href="javascript:void(0)">
            <i class="ti-bell"></i>
            <span class="badge bg-c-pink"></span>
          </a>
          <ul class="show-notification">
            <li>
              <h6>Notifications</h6>
              <label class="label label-danger">New</label>
            </li>
            <li *ngFor="let product of  products_all; let id = index">
                <div class="media">
                    <img class="d-flex align-self-center img-radius" src="./assets/files/assets/images/cloth.png"
                      alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="notification-user">{{product.product_description}}</h5>
                      <p class="notification-msg">Exceeded your minimum quantity. Please contact supplier</p>
                      <span class="notification-time">Available Qty: {{product.available_qty}}</span>
                    </div>
                  </div>
            </li>
          </ul>
        </li>
<!--        <li class="">-->
<!--          <a href="javascript:void(0)" class="displayChatbox">-->
<!--            <i class="ti-comments"></i>-->
<!--            <span class="badge bg-c-green"></span>-->
<!--          </a>-->
<!--        </li>-->
        <li class="user-profile header-notification">
          <a href="javascript:void(0)">
            <img src="./assets/files/assets/images/111104-48.png" class="img-radius" alt="User-Profile-Image">
            <span>{{user}}</span>
            <i class="ti-angle-down"></i>
          </a>
          <ul class="show-notification profile-notification">
            <li>
              <a href="javascript:void(0)" [routerLink]="['./user']">
                <i class="fa fa-user-cog"></i> Settings
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="logOut()">
                <i class="fa fa-sign-out-alt"></i> Logout
              </a>
            </li>
          </ul>
        </li>
        <li class="" style="padding-top: 6px">
          <span  (click)="logOut()"><i style="color: white" class="fa fa-2x fa-sign-out-alt" aria-hidden="true"></i></span>
        </li>
      </ul>

    </div>

  </div>
</nav>
