<style>
  .btn {
    padding: 4px 20px;
  }
</style>
<div class="">
  <div class="">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <!-- Page body start -->
        <div class="page-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-block">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="input-group input-group-sm">
                <span class="input-group-addon  ">
                  <i class="icofont icofont-ui-search "></i></span>
                        <input type="text" (keyup)="searchData()" [(ngModel)]="invoiceDataTableSearch"
                               class="form-control form-control-round" placeholder="Search here...">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group input-group-sm ">
                        Show &nbsp;
                        <select class="form-control" [(ngModel)]="invoiceDataTableLength"
                                (change)="setDatatableLength()">
                          <option value=5>5</option>
                          <option value=10>10</option>
                          <option value=50>50</option>
                          <option value=-1>All</option>
                        </select>
                        &nbsp; entries
                      </div>
                    </div>

                    <div class="col-sm-7">
                      <div class="pull-right input-group-sm ">
                        <button style="padding: 10px;" class="btn btn-info" (click)="getAllInvoices()">
                          <i class="icofont icofont-refresh" aria-hidden="true"></i> Refresh
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">

                      <div class="dt-responsive table-responsive">
                        <table id="invoiceDataTable"
                               class="table table-xs display compact table-striped table-bordered nowrap"
                               style="width: 100%;">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Inv.</th>
                            <th>Issued date</th>
                            <th>Customer</th>
                            <th>P. Type</th>
                            <th>Qty</th>
                            <th>Discount</th>
                            <th>Total</th>
                            <td></td>
                          </tr>
                          </thead>
                          <tbody></tbody>
                          <tfoot>
                          <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Inv.</th>
                            <th>Issued date</th>
                            <th>Customer</th>
                            <th>P. Type</th>
                            <th>Qty</th>
                            <th>Discount</th>
                            <th>Total</th>
                            <td></td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  </div>


                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--View Invoice Modal-->
  <div class="modal fade" id="viewInvoice" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">INV -{{invoice.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
              <tbody>
              <tr>
                <td class="w-30 bg-gray text-right">
                  Date
                </td>
                <td class="w-70">
                  {{invoice.issued_date}}
                </td>
              </tr>
              <tr>
                <td class="w-30 bg-gray text-right">
                  Customer
                </td>
                <td class="w-70">
                  {{invoice.customer}}
                </td>
              </tr>
              <tr>
                <td class="w-30 bg-gray text-right">
                  Payment Status
                </td>
                <td class="w-70">
                  {{statusInfo[invoice.status].Status}}
                </td>
              </tr>
              <tr>
                <td class="w-30 bg-gray text-right">
                  Created By
                </td>
                <td class="w-70">
                  Default User
                  <!--                                  {{grn.user}}-->
                </td>
              </tr>
              </tbody>
            </table>

            <h4>Product List</h4>

            <div class="table-responsive">
              <table class="table table-bordered margin-b0 table-condensed">
                <thead>
                <tr class="bg-gray">
                  <th class="w-60">Product</th>
                  <th class="w-60">Qty</th>
                  <th class="w-20 text-right">
                    Cost
                  </th>
                  <th class="w-20 text-right">
                    Sub Total
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let inv of invoiceProducts; index as i">
                  <td>
                    {{inv.product_description}}
                  </td>
                  <td>
                    {{inv.qty}}
                  </td>
                  <td class=" text-right">
                    {{inv.price | currency:"Rs. "}}</td>
                  <td class="text-right">
                    {{inv.amount | currency:"Rs. "}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td></td>
                </tr>
                <tr class="bg-gray">
                  <td class="text-right" colspan="3">
                    Subtotal
                  </td>
                  <td class="w-20 text-right">
                    {{invoice.gross_amount | currency:"Rs. "}}</td>
                </tr>

                <tr class="bg-gray">
                  <td class="text-right" colspan="3">
                    Discount
                  </td>
                  <td class="w-20 text-right">
                    {{invoice.discount | currency:"Rs. "}} </td>
                </tr>
                <tr class="bg-gray">
                  <td class="text-right" colspan="3">
                    Total
                  </td>
                  <td class="w-20 text-right">
                    {{invoice.total | currency:"Rs. "}} </td>
                </tr>

                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Print</button>
        </div>
      </div>
    </div>
  </div>
</div>
