<div class=" ">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body"> 
            <div class="row">
                <div class="col-md-4">
                    <div class="card project-task">
                        <div class="card-header">
                            <div class="card-header-left ">
                                <h5>Top Selling Products</h5>
                            </div>
                        </div>
                        <div class="card-block p-b-10">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <!-- <th>Supplier</th> -->
                                        <!-- <th>Rating</th> -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of top_products; let id = index">
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-blue d-inline-block text-center">{{id+1}}</h6>
                                                    <p class="d-inline-block m-l-20">{{product.product_description}}</p>
                                                </div>
                                            </td>
                                            <!-- <td>
                                                <p class="d-inline-block m-r-20">{{(supplier.rating /totalSupplierRating)*100 | number : '1.2'}}</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{(supplier.rating /totalSupplierRating)*100 | number : '1.2'}">
                                                    </div>
                                                </div>
                                            </td> -->
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card project-task">
                        <div class="card-header">
                            <div class="card-header-left ">
                                <h5>Top Rating Brands</h5>
                            </div>
                        </div>
                        <div class="card-block p-b-10">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Brand</th>
                                        <!-- <th>Supplier</th> -->
                                        <!-- <th>Rating</th> -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let brand of top_brands; let id = index">
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-blue d-inline-block text-center">{{id+1}}</h6>
                                                    <p class="d-inline-block m-l-20">{{brand.brand_name}}</p>
                                                </div>
                                            </td>
                                            <!-- <td>
                                                <p class="d-inline-block m-r-20">{{(supplier.rating /totalSupplierRating)*100 | number : '1.2'}}</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{(supplier.rating /totalSupplierRating)*100 | number : '1.2'}">
                                                    </div>
                                                </div>
                                            </td> -->
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-md-4 ">
                    <div class="card project-task">
                        <div class="card-header">
                            <div class="card-header-left ">
                                <h5>Top Rating Suppliers</h5>
                            </div>
                        </div>
                        <div class="card-block p-b-10">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Supplier</th>
                                        <!-- <th>Supplier</th> -->
                                        <!-- <th>Rating</th> -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let supplier of top_suppliers; let id = index">
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-blue d-inline-block text-center">{{id+1}}</h6>
                                                    <p class="d-inline-block m-l-20">{{supplier.name}}</p>
                                                </div>
                                            </td>
                                            <!-- <td>
                                                <p class="d-inline-block m-r-20">{{(supplier.rating /totalSupplierRating)*100 | number : '1.2'}}</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{(supplier.rating /totalSupplierRating)*100 | number : '1.2'}">
                                                    </div>
                                                </div>
                                            </td> -->
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
      <!-- Revenue Chart -->
      <div class="row">
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <div id="styleSelector"> </div>
  
      </div>
<br><br>
      <!-- Pie Chart -->
      <div class="row">
          <div id="chartContainer3" style="height: 370px; width: 50%;"></div>
          <div id="styleSelector"> </div>
        <div id="chartContainer2" style="height: 370px; width: 50%;"></div>
        <div id="styleSelector"> </div>
       
      </div>
    <br><br> 
  
</div>
  </div>
</div>
</div>
</div>