<style>
  .table td,
  .table th {
    border: 1px solid #ceced6;
  }

  .table-dark {
    background-color: rgba(70, 58, 58, 0.495);
    text-align: right;
  }

  .main-body .page-wrapper {
    padding: 0px;
  }

  .form-group2 {
    margin-bottom: 0px
  }

  /* .btn {
    padding: 4px 20px;
  }

  .btn_column {
    width: 6%
  } */

  .tableP th,
  td {
    white-space: pre-wrap;
  }

 

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 728px;
    }
  }
</style>
<div class="">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">

          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-block">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="input-group input-group-sm">
                        <input type="text" (keyup)="searchData()" [(ngModel)]="dataTableSearch" class="form-control"
                          placeholder="Search product">
                        <span class="input-group-addon" id="basic-addon3"><i class="icofont-search-2"></i></span>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="input-group input-group-sm ">
                        Show &nbsp;
                        <select class="form-control" [(ngModel)]="dataTableLength" (change)="setDatatableLength()">
                          <option value=5>5</option>
                          <option value=10>10</option>
                          <option value=50>50</option>
                          <option value=-1>All</option>
                        </select>
                        &nbsp; entries
                      </div>
                    </div>

                    <div class="col-sm-8">
                      <div class="pull-right input-group-sm ">
                        <button style="padding: 10px;" class="btn btn-success" (click)="clickNewProduct()">New &nbsp;&nbsp;&nbsp;<i class="icofont icofont-plus"
                            aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="dt-responsive table-responsive">
                        <table id="mytable" class="table table-xs display compact table-striped table-bordered nowrap"
                          style="width: 100%;">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>ID</th>
                              <th>Brand</th>
                              <th>Size</th>
                              <th>Cloth</th>
                              <th>Product</th>
                              <th>Gender</th>
                              <th>Notes</th>
                              <th>Available Qty</th>
                              <th>Alert Qty</th>
                              <th>Registered Date</th> 
                              <th></th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                          <tfoot>
                            <tr>
                              <th>#</th>
                              <th>ID</th>
                              <th>Brand</th>
                              <th>Size</th>
                              <th>Cloth</th>
                              <th>Product</th>
                              <th>Gender</th>
                              <th>Notes</th>
                              <th>Available Qty</th>
                              <th>Alert Qty</th>
                              <th>Registered Date</th>  
                              <th></th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>

         <!-- Product Modal -->
         <div id="new_product" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" *ngIf="actionMode=='new'">New Product</h4>
                  <h4 class="modal-title" *ngIf="actionMode=='edit'">Update Product</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="card-block">
                    <form action="#" method="post" class="j-pro" id="j-pro" novalidate>
                      <div class="j-content">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Brand</label>
                          <div class="col-sm-4">
                            <div class="input-group" style="margin-bottom: 0;">
                              <select (change)="setBrandProductName(brand.id)"  class="form-control" [(ngModel)]="brand.id" [ngModelOptions]="{standalone: true}"> 
                                <option value="-1" disabled> - Select Brand</option>
                                <option *ngFor="let brand of brands; index as i" value="{{brand.id}}">
                                  {{ brand.brand_name }}
                                </option>
                              </select>
                              <span data-toggle="modal" data-target="#new_brand" class="input-group-addon"
                              id="basic-addon5"><i class="icofont icofont-ui-add"></i></span>
                              
                            </div>
                          </div>
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Size</label>
                          <div class="col-sm-4">
                            <div class="input-group" style="margin-bottom: 0;">
                              <select class="form-control" [(ngModel)]="size.id" [ngModelOptions]="{standalone: true}">
                                <option value="-1" disabled> - Select Size</option>
                                <option *ngFor="let size of sizes; index as i" value="{{ size.id }}">
                                  {{ size.size_name }}
                                </option>
                              </select> 
                                  <span data-toggle="modal" data-target="#new_size" class="input-group-addon"
                                  id="basic-addon5"><i class="icofont icofont-ui-add"></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Cloth</label>
                          <div class="col-sm-4">
                            <div class="input-group" style="margin-bottom: 0;">
                              <select (change)="setClothProductName(cloth.id)" class="form-control" [(ngModel)]="cloth.id" [ngModelOptions]="{standalone: true}">
                                <option value="-1" disabled> - Select Cloth</option>
                                <option *ngFor="let cloth of cloths; index as i" value="{{ cloth.id }}">
                                  {{ cloth.cloth_name }}
                                </option>
                              </select>
                              <span data-toggle="modal" data-target="#new_cloth" class="input-group-addon"
                              id="basic-addon5"><i class="icofont icofont-ui-add"></i></span> 
                            </div>
                          </div>
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Type</label>
                          <div class="col-sm-4">
                            <div class="input-group" style="margin-bottom: 0;">
                              <select (change)="setTypeProductName()" class="form-control" [(ngModel)]="product.gender"
                                [ngModelOptions]="{standalone: true}">
                                <option value="-1" disabled> - Select Type</option>
                                <option value="Men">Men</option>
                                <option value="Women">Women</option>
                                <option value="Kids">Kids</option>
                                <option value="Unisex">Unisex</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Product</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group">
                              <span class="input-group-addon" id="basic-addon6" style="background-color:#f3f3f3"><i
                                  class="icofont icofont-ui-tag" style="color: black;"></i></span>
                              <input type="text"  class="form-control" placeholder="Product Description"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="product.product_description">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Notes</label>
                          <div class="col-sm-10">
                            <textarea rows="3" cols="5" class="form-control" placeholder="Notes"
                              [ngModelOptions]="{standalone: true}" [(ngModel)]="product.notes"></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Status</label>
                          <div class="col-sm-10">
                            <div class="form-radio">
                              <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                  <input type="radio" name="radio" checked="checked" value="1"
                                    [(ngModel)]="product.status" [ngModelOptions]="{standalone: true}">
                                  <i class="helper"></i>Active
                                </label>
                              </div>
                              <div class="radio radiofill radio-danger radio-inline">
                                <label>
                                  <input type="radio" name="radio" value="0" [(ngModel)]="product.status"
                                    [ngModelOptions]="{standalone: true}">
                                  <i class="helper"></i>Inactive
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Alert Qty</label>
                          <div class="col-sm-4">
                            <div class="input-group input-group">
                              <input onclick="this.select();" type="number" min="1" class="form-control" placeholder="10"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="product.alert_qty">
                            </div>
                          </div>
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Available Qty</label>
                          <div class="col-sm-4">
                            <div class="input-group input-group">
                              <input type="text" class="form-control" placeholder="0" disabled
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="product.available_qty">
                            </div>
                          </div>
                        </div>



                      </div>
                    </form>

                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                      <button type="submit" class="btn btn-success" (click)="RegisterProduct()"
                      *ngIf="actionMode=='new'">Register
                    </button>
                    <button type="submit" class="btn btn-success" (click)="RegisterProduct()"
                    *ngIf="actionMode=='edit'">Update
                  </button>
                </div>
              </div>

            </div>
          </div>


          <!-- Brand Modal -->
          <div id="new_brand" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">New Brand</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="card-block">
                    <form action="#" method="post" class="j-pro" id="j-pro" novalidate>
                      <div class="j-content">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Brand</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group">
                              <input type="text" class="form-control" placeholder="Brand Name"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="brand.brand_name">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button class="btn btn-success" (click)="RegisterBrand()"> Save</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Size Modal -->
          <div id="new_size" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">New Size</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="card-block">
                    <form action="#" method="post" class="j-pro" id="j-pro" novalidate>
                      <div class="j-content">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Size</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group">
                              <input type="text" class="form-control" placeholder="Size"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="size.size_name">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button class="btn btn-success" (click)="RegisterSize()"> Save</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Cloth Modal -->
          <div id="new_cloth" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">New Cloth</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="card-block">
                    <form action="#" method="post" class="j-pro" id="j-pro" novalidate>
                      <div class="j-content">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label" style="text-align: right;">Cloth</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group">
                              <input type="text" class="form-control" placeholder="Cloth"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="cloth.cloth_name">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button class="btn btn-success" (click)="RegisterCloth()">Save</button>
                </div>
              </div>
            </div>
          </div>

          <div id="styleSelector"> </div>
        </div>
      </div>
    </div>
  </div>
</div>