 <style>
 .table-active{
  background-color: rgba(0,0,0,0)
 }
 .table-dark{
  background-color:#f7fbff
 }
 </style>
<div class="row">
  <div class="col-sm-12">
    <div class="card" style="height: 22mm;">
      <div class="card-block">
        <div class="row">

          <div class="col-sm-12">

            <div class="form-group row">
              <div class="input-group col-sm-4" style="margin-bottom: 0;">
                <label style="    padding-top: 8px;">Customer:&nbsp;&nbsp;</label>
                <!-- <select id="selectInvoiceCustomer" class="form-control">
                </select>
                <button class="btn btn-mini icofont icofont-ui-add btn-primary" (click)="clickNewCustomer()"></button> -->
               
                  <select id="selectInvoiceCustomer" class="form-control">

                  </select>
                  <span (click)="clickNewCustomer()" class="input-group-addon" id="basic-addon5"><i
                      class="icofont icofont-ui-add"></i></span>
               
              </div>

              <!-- <div class="input-group col-sm-4" style="margin-bottom: 0;">
                <label class="col-form-label">Date :</label>
                <input type="text" class="form-control" placeholder="Date" value="{{invoice.issued_date}}" readonly>
              </div> -->
              <div class="input-group col-sm-6" style="margin-bottom: 0;"></div>
              <div class="input-group col-sm-2" style="margin-bottom: 0;">
                <label class="col-form-label">INV. No :&nbsp;&nbsp;</label>
                <input type="text" class="form-control" placeholder="INV no" value="{{invoice.id}}" readonly>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" style="text-align: center; margin-top: -6mm;"
    *ngIf="!((currentInvoice == invoices.length - 1) && (getValidProducts().length == 0))">
    <h3 [className]="statusInfo[invoice.status].Style">
      {{statusInfo[invoice.status].Status}}
    </h3>
  </div>

  <div class="col-sm-12" style="text-align: center; margin-top: -6mm;"
    *ngIf="(currentInvoice == invoices.length - 1) && (getValidProducts().length == 0)">
    <h3 [className]="statusInfo['new'].Style">
      {{statusInfo['new'].Status}}
    </h3>
  </div>

  <div class="col-sm-8">
    <div class="card ">
      <div class="card-block">

        <table class="table table-xs table-framed">
          <thead>
            <tr >
              <th>#</th>
              <th>Code</th>
              <th>Product</th>
              <th style="text-align: center">Qty</th>
              <th style="text-align: right">Price</th>
              <th style="text-align: right">Amount</th>
              <th style="text-align: center" *ngIf="invoice.status == '3'">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of getValidProducts();  index as i">
              <td scope="row">{{i + 1}}</td>
              <td>{{product.stock_id}}</td>
              <td>{{product.product_description}}</td>
              <td style="font-weight: bold ;color: red;text-align: center">{{product.qty}}</td>
              <td style="text-align: right">{{product.price | currency:"Rs. "}}</td>
              <td style="font-weight: bold ;color: red;text-align: right">{{product.amount | currency:"Rs. "}}</td>
              <td align="center" *ngIf="invoice.status == '3'">
                <a href="javascript:void(0)" (click)="removeProductFromINvoice(i)">
                  <span class="table-add mb-3 mr-2"> <i style="color: red" class="icofont icofont-ui-delete"
                      aria-hidden="true"></i> </span>
                </a>

              </td>
            </tr>

            <tr *ngIf="invoice.status == '3'">
              <td scope="row">{{getValidProducts().length + 1}}</td>
              <td>
                <!--              <input [(ngModel)]="productCode" (keydown.enter)="productCodeEntered()" type="text">-->
                <input type="text" class="form-control" (keydown.enter)="productEntered()"
                  (keydown.tab)="tabPressedProductSelection()" [(ngModel)]="productCode" #invoiceProductCode autofocus
                  [ngbTypeahead]="searchProducts" ngbTooltip="Type # to search product" />
              </td>
              <td>
                <!--              <select id="selectInvoiceProduct"></select>-->
              </td>
              <td style="text-align: center"></td>
              <td style="text-align: right"></td>
              <td style="text-align: right"></td>
              <td align="center"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="card trnasiction-card">
      <div class="card-block text-center">
        <table class="table table-xs table-framed">
          <thead>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr  >
              <td class="table-active" style="text-align: right">Item Count</td>
              <td class="table-dark" style="text-align: right">{{invoice.qty}}</td>
            </tr>
            <tr style=" font-weight: bold;color: #4099ff">
              <td class="table-active" style="text-align: right">Sub Total</td>
              <td class="table-dark" style="text-align: right">{{invoice.gross_amount | currency:"Rs. "}}</td>
            </tr>
            <tr  >
              <td class="table-active" style="text-align: right">Payment method</td>
              <td class="table-dark">
                <div class="input-group table-dark" style="margin-bottom: 0px">
                  <select class="form-control" id="invoicePaymentMethod" (change)="paymentMethodSelected()"
                    [disabled]="invoice.status !== '3'">
                    <option [value]="method.id" *ngFor="let method of paymentMethods">{{method.type}}</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr  >
              <td class="table-active" style="text-align: right;">Discount</td>
              <td class="table-dark">
                <input style="text-align: right;font-weight: bold" type="text" class="form-control" placeholder="00.00"
                       #invoiceDiscount (keydown.tab)="tabPressedDiscount()"
                  (keyup)="changeDiscount()" [disabled]="invoice.status !== '3'" [(ngModel)]="invoice.discount">
              </td>
            </tr>
            <tr   style="font-size: 30px; font-weight: bold;color: #4099ff">
              <td class="table-active" style="text-align: right">Total</td>
              <td class="table-dark" style="text-align: right">{{(invoice.total)| currency:"Rs. "}}</td>
            </tr>
            <tr >
              <td class="table-active" style="text-align: right; font-size: 18px; font-weight: bold" >Paid Amount</td>
              <td class="table-dark">
                <input style="text-align: right;font-weight: bold" type="text" class="form-control" placeholder="00.00"
                  [disabled]="invoice.status !== '3'" #invoicePaidAmount (keydown.tab)="tabPressedPaidAmount()"
                  [(ngModel)]="invoice.paid_amount">
              </td>
            </tr>
            <tr   style=" font-weight: bold;color: #4099ff">
              <td class="table-active" style="text-align: right">Balance</td>
              <td class="table-dark" style="text-align: right">
                {{(invoice.paid_amount - invoice.total) | currency:"Rs. "}}</td>
            </tr>
            <!-- <tr class="table-danger" style="background-color: #ff0000;color: white">
              <td style="background-color: #ff0000;color: white; text-align: right">Due Amount</td>
              <td style="background-color: #ff0000;color: white; text-align: center" colspan="3">
                {{invoice.total | currency:"Rs. "}}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="b-t-default transection-footer row">
        <div class="col-6" *ngIf="!(invoice.status == '1' || invoice.status == '3')"></div>
        <button class="col-6 btn btn-danger"
          *ngIf="(invoice.status == '1' || invoice.status == '3') && invoiceProducts.length"
          (click)="cancleInvoice()">Cancle
        </button>
        <button class="col-6 btn btn-success"
          *ngIf="invoice.status == '3' && getValidProducts().length && ((invoice.paid_amount - invoice.total) > -1)"
          (click)="clickDone()">
          Issue Invoice
        </button>
        <div class="col-6" *ngIf="!(invoice.status == '3')" (click)="clickDone()"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card" style="height: 22mm;">
      <div class="card-block ">
        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-warning" (click)="clickReturn()"><i class="icofont icofont-arrow-down"></i>Return
              (F2)
            </button>
          </div>
          <div class="input-group center col-sm-4">
            <!--          <span (click)="gotoFirstInvoice()" class="input-group-addon"><i>First</i></span>-->
            <span (click)="gotoPreviousInvoice()" class="input-group-addon"><i
                class="icofont icofont-rounded-left"></i></span>
            <input type="text" class="form-control form-control-center"
              value="{{ (currentInvoice + 1) + ' of ' + invoices.length }}" disabled>
            <span (click)="gotoNextInvoice()" class="input-group-addon"><i
                class="icofont icofont-rounded-right"></i></span>
            <span (click)="gotoLatestInvoice()" class="input-group-addon"><i>Latest</i></span>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-success pull-right" (click)="clickNewINvoice()"><i
                class="icofont icofont-page"></i>New
              (F4)
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="new_Customer" class="modal fade" role="dialog" style="z-index: 9999;">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Customer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <div class="card-block row">

          <div class="col-sm-6">
            <form class="j-pro">
              <div class="j-content">
                <!-- start name -->
                <div>
                  <label class="j-label">Name</label>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-ui-user"></i>
                      </label>
                      <input type="text" autocomplete="disabled" placeholder="Customer Name"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.name">
                    </div>
                  </div>
                </div>
                <div>
                  <label class="j-label col-form-label">Phone 01</label>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-ui-touch-phone"></i>
                      </label>
                      <input type="text" autocomplete="disabled" placeholder="Phone number 01"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.contactNo1">
                      <!--                          <input type="text" class="form-control us_telephone" data-mask="(999) 999-9999"-->
                      <!--                                 id="cusPhone01"-->
                      <!--                                 autocomplete="disabled" placeholder="Phone number 01" value="{{customer.contactNo1}}"-->
                      <!--                                 (keyup)="keyupPhone1()">-->
                    </div>
                  </div>
                </div>
                <div>
                  <label class="j-label">Phone 02</label>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-ui-dial-phone"></i>
                      </label>
                      <input type="text" autocomplete="disabled" placeholder="Phone number 02"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.contactNo2">
                      <!--                          <input type="text" class="form-control us_telephone" data-mask="(999) 999-9999"-->
                      <!--                                 id="cusPhone02"-->
                      <!--                                 autocomplete="disabled" placeholder="Phone number 02" value="{{customer.contactNo2}}"-->
                      <!--                                 (keyup)="keyupPhone2()">-->
                    </div>
                  </div>
                </div>
                <div>
                  <div>
                    <label class="j-label">Email</label>
                  </div>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-envelope"></i>
                      </label>
                      <input type="email" class="form-control" autocomplete="disabled" placeholder="Email address"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.email">
                    </div>
                  </div>
                </div>
                <div class="j-response"></div>
              </div>
            </form>
          </div>
          <div class="col-sm-6">
            <form action="#" method="post" class="j-pro" id="j-pro" novalidate>
              <div class="j-content">
                <!-- start name -->
                <div>
                  <label class="j-label">Address</label>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-address-book"></i>
                      </label>
                      <input type="text" autocomplete="disabled" placeholder="Address"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.address">
                    </div>
                  </div>
                </div>

                <div>
                  <label class="j-label">Date of Birth</label>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-calendar"></i>
                      </label>
                      <input type="date" class="form-control" autocomplete="disabled" placeholder="Date of birth"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.dob">
                    </div>
                  </div>
                </div>
                <div>
                  <label class="j-label">Points</label>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-star-shape"></i>
                      </label>
                      <input type="text" class="form-control autonumber" data-v-min="0" autocomplete="disabled"
                        placeholder="Points" [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.points">
                    </div>
                  </div>
                </div>
                <div>
                  <div>
                    <label class="j-label">Registration Date</label>
                  </div>
                  <div class="j-unit">
                    <div class="j-input">
                      <label class="j-icon-right">
                        <i class="icofont icofont-ui-calendar"></i>
                      </label>
                      <input type="text" autocomplete="disabled" disabled value="{{customer.registered_date}}">
                    </div>
                  </div>
                </div>
                <div class="j-response"></div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" (click)="clickRegisterCustomer()">Register
        </button>
      </div>
    </div>

  </div>
</div>
