<style>
  .btn {
    padding: 4px 20px;
  }
</style>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info active" (onclick)="radioBtnAction('daily')"
                  (click)="radioBtnAction('daily')">
                  <input type="radio" name="options" autocomplete="off" checked> Today
                </label>
                <label class="btn btn-info" (click)="radioBtnAction('monthly')">
                  <input type="radio" name="options" autocomplete="off"> Monthly
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="pull-right input-group-sm">
                <button style="padding: 10px;" class="btn btn-info" (click)="getAllInvoices()">
                  <i class="icofont icofont-refresh" aria-hidden="true"></i> Refresh
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="row" *ngIf="_uiModel.dateFilter">
            <div class="col-sm-3">
              <div class="input-group input-group-sm ">
                Show &nbsp;
                <select class="form-control" [(ngModel)]="invoiceDailyDataTableLength"
                  (change)="setDatatableLength('daily')">
                  <option value=5>5</option>
                  <option value=10>10</option>
                  <option value=50>50</option>
                  <option value=-1>All</option>
                </select>
                &nbsp; entries
              </div>
            </div>
          </div> -->
          <div class="row" *ngIf="_uiModel.dateRangeFilter">
            <!-- <div class="input-group date" data-provide="datepicker">
                  <input type="text" class="form-control">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
              </div> -->
            <label class="col-sm-1 col-form-label" style="text-align: right;">From</label>
            <div class="col-sm-2">
              <input type="date" (keyup)='filterByDateRange()' (change)='filterByDateRange()'
                [ngModelOptions]="{standalone: true}" [(ngModel)]="dateFilter.dateFrom" class="form-control"
                autocomplete="disabled">
            </div>
            <label class="col-sm-1 col-form-label" style="text-align: right;">To</label>
            <div class="col-sm-2">
              <input type="date" (keyup)='filterByDateRange()' (change)='filterByDateRange()'
                [ngModelOptions]="{standalone: true}" [(ngModel)]="dateFilter.dateTo" class="form-control"
                autocomplete="disabled">
            </div>
            <!-- </div> -->
            <div class="col-sm-3">
              <div class="input-group input-group-sm ">
                Show &nbsp;
                <select class="form-control" [(ngModel)]="invoiceMonthlyDataTableLength"
                  (change)="setDatatableLength('monthly')">
                  <option value=5>5</option>
                  <option value=10>10</option>
                  <option value=50>50</option>
                  <option value=-1>All</option>
                </select>
                &nbsp; entries
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--View dailyDataTable-->
  <div class="card">
    <div class="card-header">
      <strong>Date : </strong>
      <strong>{{date}}</strong>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-12">
          <div class="dt-responsive table-responsive">
            <table id="invoiceDailyTable" class="table table-xs display compact table-striped table-bordered nowrap"
              style="width: 100%;">
              <thead class="headerTadble">
                <tr>
                  <th>#</th>
                  <th>Issued Time</th>
                  <th>Account</th>
                  <th>Account ID</th>
                  <th>Pay. Type</th>
                  <th>Discount</th>
                  <th>Total</th>
                  <!-- <td></td> -->
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot>
                <tr>
                  <th class="footerTot" colspan="6">Total</th>
                  <th class="footerAmount" colspan="1">{{total}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- View Monthly DataTable -->
  <div class="card">
    <div class="card-header">
      <strong>Date Between : </strong>
      <strong>{{dateFilter.dateFrom}} - {{dateFilter.dateTo}}</strong>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-12">
          <div class="dt-responsive table-responsive">
            <table id="invoiceMonthlyTable" class="table table-xs display compact table-striped table-bordered nowrap"
              style="width: 100%;">
              <thead class="headerTadble">
                <tr>
                  <th>#</th>
                  <th>Issued date</th>
                  <th>Issued Time</th>
                  <th>Account</th>
                  <th>Account ID</th>
                  <th>Pay. Type</th>
                  <th>Discount</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot>
                <tr>
                  <th class="footerTot" colspan="7">Total</th>
                  <th class="footerAmount" colspan="1">{{total}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>